.input-text{
    color:var(--orange);
    text-align: center;
    margin-top: 10%;
    margin-left: 33%;
}
.slogan{
    margin-top: -3%;
}
.input input{
    border-radius: 50px;
    padding-left: 3%;


}
.input{
    margin-top: 5%;
    margin-bottom: 25%;
    margin-left: 18%;
}
.search-home{
    color: var(--orange);
font-size: 27px;
position: absolute;
left: 89%;
margin-top: -31px;
border:none;
background-color: white;
width: 7%;
}
.search-home:hover{
    color: gray;

    cursor: pointer;

}

