.editProduct-container .MuiCardActionArea-root {
  height: 259px;
}
.editProduct-container .makeStyles-media-2 {
  height: 100%;
}
.editProduct-container .addImage-btn {
  background-color: #ccc;
}
.box-delete {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box-delete .fa-trash {
  cursor: pointer;
  font-size: 21px;
  box-shadow: 0 1px 2px #ccc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada {
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f0f2f5;
  border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  min-height: 309px;
}
.formulario label {
  display: revert;
  text-align: left;
  width: auto !important;
  line-height: 0;
  font-size: 16px;
  font-family: SofiaProBold;
}
.form-alta {
  width: 100%;
}
.registro-title {
  font-size: 21px;
  color: #adadad;
  text-align: center;
  font-family: NunitoBold;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registro-title i {
  position: absolute;
  color: #000;
  left: 15px;
  cursor: pointer;
}
.input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #8796a1;

  border-radius: 9px;
  padding: 0 10px;
  padding-left: 20px;
  height: 40px;
}
.input-box .icon {
  width: 14px;
}
.input-box input {
  all: unset;
  width: 100%;
  font-size: 14px;
  font-family: NunitoBold;
  border: 0;
  padding-left: 7px;
  color: #c5c5c5;
}
.label-input {
  all: unset;
  width: 100%;
  font-size: 14px;
  font-family: NunitoBold;
  border: 0;
  color: #c5c5c5;
}
.input-box input::placeholder {
  color: #c5c5c5;
}
.btn-submit {
  width: 40%;
  font-size: 18px;
  font-family: NunitoBold;
  border: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 25px;
  letter-spacing: 1px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .btn-submit {
    width: 100%;
  }
  .registro-title {
    margin-bottom: 10px;
  }
}

/* new */
.box-formulario {
  padding-left: 10px;
}
.formulario {
  width: 100%;
  padding-top: 30px;
}
.box-formulario label {
  font-family: NunitoBold;
  font-size: 16px;
  color: #000;
  padding-left: 10px;
}
.formulario .b-flex {
  display: flex;
}
.formulario .form-input {
  all: unset;
  background-color: #ccc;
  width: 100%;
  height: 32px;
  font-family: NunitoBold;
  font-size: 18px;
  color: #000;
  padding: 3px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.formulario .box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario .submit-btn {
  all: unset;
  width: 70%;
  height: 40px;
  font-family: NunitoBold;
  font-size: 18px;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--primerColor);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.formulario .submit-btn:hover {
  background-color: var(--primerColor);
}
@media (max-width: 568px) {
  .box-formulario {
    padding: 0;
  }
  .formulario {
    padding-top: 0;
  }
}
