.b-titulo h4{
    margin-left: 30%;
    margin-bottom: 5%;
    
}
.b-titulo{
    margin-top: 3%;
}
.b-forms input,label{
font-size: 1.1em;
}
.col-sm-4{
    padding: 0 5% 5%;
}
.btn-success{
    margin-top: 8%;
}