.app-container {
  padding-top: 72px;
}
.loading-container {
  display: none;
}
.loading-container.active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}
.b-loading {
  position: fixed;
  top: 5px;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 3px;
}
.b-loading img {
  max-width: 100%;
  max-height: 100%;
}
.createItems-container a {
  /* font-family: SofiaProBold; */
  font-size: 12px;
}
.createItems-container input {
  /* font-family: SofiaProBold; */
  font-size: 12px;
}
.createItems-container label {
  /* font-family: SofiaProBold; */
  font-size: 12px;
}
.createItems-container .makeStyles-paper-1 {
  margin-top: 30px;
}
.createItems-container .MuiButton-containedPrimary {
  background-color: var(--primerColor);
}
.createItems-container .MuiButton-containedPrimary:hover {
  background-color: var(--tercerColor);
}
.MuiAvatar-root.MuiAvatar-circle.makeStyles-avatar-2.MuiAvatar-colorDefault {
  background-color: var(--quintoColor);
}
.b-btn-createItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.b-btn-createItem a {
  text-decoration: none;
  color: var(--tercerColor);
}
.b-btn-createItem a:hover {
  text-decoration: none;
  color: var(--tercerColor);
}
.b-btn-createItem button {
  text-decoration: none;
  background-color: var(--tercerColor);
  color: #fff;
}
.b-btn-createItem button:hover {
  color: #fff;
}
.app-container .MuiContainer-root.MuiContainer-maxWidthXs {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

/* search starts */
.app-container .main-search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container .b-main-search {
  box-shadow: var(
    --p-card-shadow,
    0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15)
  );
  border-radius: 2px;
  width: 100%;
  background-color: #fff;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
}
.app-container .b-main-search .title {
  /* font-size: 25px; */
  font-weight: 900;
  font-family: SofiaProBold;
}
.app-container .b-main-search .b-input {
  width: 100%;
  background-color: #f3f5f7;
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.app-container .b-main-search .b-input .fa-search {
  font-size: 18px;
  float: left;
}
.app-container .b-main-search #input-mainSearch {
  all: unset;
  float: left;
  width: 100%;
  background-color: #f3f5f7;
  height: 45px;
  border-radius: 3px;
  border: 0;
  font-size: 18px;
  font-family: SofiaPro;
}
.app-container .b-main-search .b-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  text-align: center;
}
#btn-mainSearch {
  all: unset;
  background-color: var(--primerColor);
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 3px;
  background-image: linear-gradient(
    -225deg,
    #ff690f 0%,
    #ee4719 100%
  ) !important;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.app-container .logo {
  width: 210px;
  height: 120px;
}
.b-linkLogin a{
  color: black;
  margin-left: 90%;
}
.b-companyName {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container .search-message {
  font-size: 21px;
  color: #444444;
}
.app-container .b-designItems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px !important;
}
.app-container .b-designItems .designButton {
  font-size: 21px;
  margin-left: 10px;
  cursor: pointer;
}
.app-container .b-designItems .designButton.active {
  color: #ee4719;
}

/* search ends */
