@font-face {
  font-family: NunitoRegular;
  src: url("assets/fonts/Nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: NunitoSemiBold;
  src: url("assets/fonts/Nunito/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: NunitoBold;
  src: url("assets/fonts/Nunito/Nunito-Bold.ttf");
}
@font-face {
  font-family: NunitoLight;
  src: url("assets/fonts/Nunito/Nunito-Light.ttf");
}
@font-face {
  font-family: SofiaPro;
  src: url("assets/fonts/Sofia-Pro.ttf");
}
@font-face {
  font-family: SofiaProBold;
  src: url("assets/fonts/Sofia-Pro-Bold.otf");
}
@font-face {
  font-family: LatoRegular;
  src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("assets/fonts/Lato-Bold.ttf");
}
body {
  background-color: #ededed !important;
  font-size: 10px;
}
.b-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.b-center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.b-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-text-left {
  text-align: left;
}
.b-text-center {
  text-align: center;
}
.b-text-right {
  text-align: right;
}
* {
  font-family: SofiaProBold;
  font-size: 12px;
}
.pointer {
  cursor: pointer;
}
:root {
  --primerColor: #f9a826;
  --segundoColor: #3f3d56;
  --tercerColor: #444444;
  --cuartoColor: #f5e0be;
  --quintoColor: #bdbdbd;
}
